@model JediApp.Database.Domain.Currency

@{
    ViewData["Title"] = $"Delete currency";
}

<h2>Delete @Model.ShortName</h2>

<h3>Are you sure you want to delete currency @Model.Name ?</h3>
<div>
    @*<h4>ExchangeOfficeBoard</h4>*@
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        @*| <a asp-action="Index">Back to List</a>*@
        <input type="button" value="Back to List" class="btn btn-outline-secondary btn-sm align-text-bottom" onclick="location.href='@Url.Action("Index", "ExchangeOfficeBoard" )'" />
    </form>
</div>
