
<div style="width: 700px; font-weight: bold; text-align: center; margin: 100px auto;">
    <h1>Buy completed successfully</h1>
</div>

<h5>
    Your current saldo:
    <b>
        @(((decimal)ViewData["currentSaldo"]).ToString("0.00"))
        @(ViewData["currenncy"])
    </b>
</h5>
