@model IEnumerable<JediApp.Web.Models.UserWithdrawal>
@{
    ViewData["Title"] = "User withdrawal";
    ViewData["activePage"] = "UserWithdrawal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    User Withdrawal
</h2>


@if(!Model.Any())
{
    <div style="margin: 45px auto; border: 1px solid black; padding: 20px 10px;">
        <h1>Your Account Balance is empty</h1>
    </div>
}
@if(Model.Any())
{
    <div class="hero-form pb-3" >
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 15%;">Currency Name</th>
                    <th style="width: 15%;">Currency Country</th>
                    <th>Value</th>
                    <th>Withdrawal</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Currency</td>
                        <td><div class="hero-form__currency-flag icon-currency-round-@(item.Currency) icon-currency-round-@(item.Currency)-dims" style="position: relative; float: left;"></div></td>
                        <td>@item.Amount</td>
                        <td><input type="button" value="Withdrawal" class="btn btn-outline-secondary btn-sm align-text-bottom" onclick="location.href='@Url.Action("WithdrawalIndex", "UserWithdrawal", new { currency = item.Currency } )'" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}